@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-formulario {
    width: 36rem;
    margin: auto;
    margin-top: 7rem;
    text-align: center;

    @include m.tablet {
        width: 70rem;
    };

    @include m.desktop {
        width: 90rem;
    };

    @include m.desktopXL {
        width: 120rem;
    };

    .contenido-form {
        width: 90%;
        margin: auto;

        @include m.tablet {
            width: 50rem;
            background-color: v.$blanco;
            padding: 4rem 2rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
        };

        h3 {
            margin-bottom: 2rem;
        }

        .mensaje-importante {
            color: v.$rojo;
            margin-bottom: 2rem;
        }
    }

}

.campo {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;

    input, textarea, select {
        height: 4rem;
        font-size: 2rem;
        color: v.$negroClaro;
        width: 77%;
        border-radius: .5rem;
        border: 2px solid v.$gris;
        font-size: 1.6rem;
        &:focus {
            border: 2px solid v.$negroClaro;
            outline: none;
        }
    }

    select {
        width: 98%;
    }

    label {
        width: 20%;
    }

    textarea {
        height: 9rem;
        font-size: 1.2rem;

        @include m.tablet {
            font-size: 1.6rem;
        };
    }

    .mensaje-error {
        color: v.$rojo;
    }
}