<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="contenedor-resumen" th:fragment="resumen">

			<div class="contenido-resumen">
				<p>Ahorro Total</p>
				<p>Monto disponible para gastos</p>
				<p>Monto a pagar por prestamo</p>
				<p>Inversion Total</p>
			</div>

			<div class="monto-resumen">
				<p>
					$<span th:text="${#numbers.formatDecimal(totalAhorro, 0, 'COMMA', 2, 'POINT')}"></span>
				</p>
				<p>
					$<span th:text="${#numbers.formatDecimal(totalGastoDisponible, 0, 'COMMA', 2, 'POINT')}"></span>
				</p>
				<p>
					$<span th:text="${#numbers.formatDecimal(totalPrestamo, 0, 'COMMA', 2, 'POINT')}"></span>
				</p>
				<p>
					$<span th:text="${#numbers.formatDecimal(totalInversion, 0, 'COMMA', 2, 'POINT')}"></span>
				</p>
			</div>
		</div>
	</body>
</html>
