// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$blanco: #FFFFFF;
$negro: #000000;
$azul: #0099e5;
$rojo: #ff4c4c;
$verde: #34bf49;
$rosaClaro: #ffc2e5;
$azulClaro: #c1f1fc;
$verdeClaro: #ebffac;
$gris: #e1e1e1e1;
$negroClaro: #262626;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1300px;