/* Estilo para los colores y fondo */ 

.bg-header {
    background-color: rgb(187, 208, 255);
}

.btn-purple {
    color: white;
    background-color: rgb(200, 182, 255);
    border-color: rgb(200, 182, 255);
}

.bg-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.bg-submit {
    color: #fff;
    background: #5E7DE3;
}

.bg-submit:hover{
    background: rgba(94,125,227, .9);
}

.rgba-1{
    background-color: rgb(155, 246, 255);
}

.rgba-2{
    background-color: rgb(189, 178, 255);
}

.rgb-contenido {
    background-color: rgba(234, 253, 255, 1);
}

.color-rojo {
    color: red;
}

/* Estilos para overflow */

.overflow {
    overflow: auto;
}

.mh-450 {
    max-height: 450px;
}

.mh-200 {
    max-height: 200px;
}
    


nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 100%;
}

nav ul li a {
    display: block;
    padding: .5em;
    font-size: 1em;
    color: white;
    border: 2px solid rgb(255, 214, 255);
    margin-left: 0.5em;
    border-radius: 10px;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: rgb(255, 214, 255);
    text-decoration: none;
    color: white;
}




/* Estilos popup para ahorros */


/* --------------------------- */
/* POPUP */
/* --------------------------- */

.overlay{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    display: block;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color: #000;
}

.popup h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
    opacity: 0; 
} 

.popup form .contenedor-inputs {
    opacity: 0;
}


/*.popup form .contenedor-inputs input, textArea {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;    
}*/

.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.btn-submit:hover{
    background: rgba(94,125,227, .9);
}


/* --------------------------- */
/* Animaciones */
/* --------------------------- */

.popup.active { opacity: 1; transform: scale(1); }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards }
.popup.active .contenedor-inputs { animation: entradaInputs 1s ease 1s forwards }

@keyframes entradaTitulo {
    from{
        transform: translateY(-25px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {opacity: 0;} 
    to {opacity: 1;}
}


/* Validaciones */

.formulario__label {
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input, .formulario__textarea, .formulario__select {
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: .3s ease all;
}

.formulario__input:focus, .formulario__textarea:focus, .formulario__select:focus {
    border: 3px solid #BBBBBB;
    outline: none;
    box-shadow:  3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0; 
}

.formulario__mensaje {

    height: 45px; 
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;

}

.formulario__mensaje-activo {

    display: block;

}

.formulario__mensaje-exito {

    font-size: 14px;
    color: #119200;
    display: none;

}

.formulario__mensaje-exito-activo {

    display: block;

}

.formulario__grupo-btn-enviar {

    margin-top: 10px;

}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

